.contacto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.contacto .container .row {
   
}

.contact-info p {
    line-height: 1rem;
    margin-bottom: .5rem;
}
.contact-info .fa {
    margin-right: .5rem;
    color: #999;
}
.row-distancias {
    margin-top: 1rem;
}
.distancias .fa {
    margin-right: .5rem;
    color: #006D59;
}

.visitas-guiadas p {
    line-height: 1rem;
    margin-bottom: .5rem;
}
.visitas-guiadas .fa {
    margin-right: .5rem;
    color: #999;
}
.btn-epec-verde-claro {
    background-color: #57AD4A!important;
    color: #fff!important;    
    font-weight: 500;
    font-size: 1rem;
}
.btn-rounded {
    border-radius: 2rem;
}
.mapa {    
    width: 100%;
    height: 480px;
}
.gmap1 {
    /*display: none;*/
    width: 100%;
    height: 480px;
}
.p-r-05 {
    padding-right: .5rem;
}
.container.libro-de-visitas .card{
    margin-bottom: 2rem;
}
.fecha {
    color: #999;
}
.star-row{
    display: flex;
    flex-wrap: wrap;
}
.star-row .text{
    min-width: 200px;  
}
.star-row .stars{  
}
.star-row .stars .fa-star {
margin-right: .3rem;
}
.star-row .stars .star-full{
    color: #F0B503;
}
.star-row .stars .star-empty{
    color: #C4C4C4;
}
.add-comment-bottom {
    display: flex;
}
.comment-form-left {
    width: 50%;
    float: left;
}
.comment-form-right {
    width: 50%;
    float: right;
    text-align: right;
}
.btn-enviar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.div-boton-enviar {
    width: 100%;
    position: relative;
    height: 80px;
}
.div-boton-enviar .btn-enviar {
    right: 0;
}
.col-form-label {
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.observaciones {
    margin-top: 2.7rem;
}

@media (max-width: 767px){
    .distancias {
        margin-top: 1rem;
    }
    .distancias-descktop {
        display:none;
    }
    .visitas-guiadas {
        margin-top: 1rem;
    }
    .star-row .text{  
        flex: 0 0 100%;
        max-width: 100%;
    }
    .star-row .stars{    
        flex: 0 0 100%;
        max-width: 100%;
    }
    .add-comment-bottom {
        flex-wrap: wrap;
    }

    .comment-form-left {
        flex: 0 0 100%;
        max-width: 100%;        
    }
    .comment-form-right {
        flex: 0 0 100%;
        max-width: 100%;        
    }
    .btn-enviar {
        position: initial;
    }
}
.distancias-mobile h4 {
    cursor: pointer;
}
.distancias-mobile h4:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.distancias-mobile h4 .fa{
    color: #57AD4A;
}

.text-required {
    color: #E64537;
}

.formulario-visitas-guiadas .fa {
    color: #C4C4C4;
}

.formulario-visitas-guiadas h6 {
    font-weight: 600;
}
.nopadding {
    padding: 0;
}
.btn-small {
    padding: 0;
    font-size: 10px;
    padding: .5rem;
}
.ver-libro-de-visitas {
    padding: .5rem;
    line-height: 2.5rem;
    font-size: 15px;
    text-decoration: underline!important;
    color: #57AD4A!important;
}
/*  modal notify messages    */
.modal-body .container .text-center i {
    color: #006073;;
}
.modal-dialog.modal-notify .modal-header {
    background: #065C71;
}
.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    font-size: 1.15rem;
    color: #fff;
}
button.btn-azul-epec, a.btn-azul-epec {
    color: #fff!important;
    background: #006073;
    border: 1px solid #006073;
    margin: 0;
    font-size: .8rem;
    margin-top: .2rem;
    padding: .5rem 2rem;
}

@media (min-width: 576px){
    section.register-success .modal-dialog {
        max-width: 600px;
    }
}
.modal-info.alert .modal-body .container .text-center i {
    color: #730000;;
}
.confirmacion-de-pago div.text-center p {
    text-align: left!important;
}
.confirmacion-de-pago .modal-dialog {
    max-width: 800px!important;
}
.epec-bg-color-verde {
    color: #fff!important;
}
@media (min-width: 992px){
    .fondo-blanco-para-compensar-altura {
        background: #fff;
    }  
}
@media(min-width: 576px){
    .distancias-mobile {
        display: none;
    }
}
.actions {
    height: 50px;
}
.action {
    float: right;
    text-align: right;
    margin-left: 20px;
}
.action a {    
    border-radius: 10px;
    padding: 4px 10px;
}
.action.mostrar a{
    color: #15741d;
    border: 1px solid #15741d;
}
.action.ocultar a{
    color: #ac1987;
    border: 1px solid #ac1987;
}
.action.borrar a{
    color: #ee1111;
    border: 1px solid #ee1111;
}
.addStar {
    cursor: pointer;
}