<section class="contacto">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>CONTACTO</h2>
        <div class="contact-info">
          <p><span class="fa fa-map-marker"></span>Ruta prov. E55 km 22, CP X5151XAI, La Calera.</p>
          <p><span class="fa fa-phone"></span>Teléfono: 0351 4296036</p>
          <p><span class="fa fa-clock-o"></span>Horario: lunes a viernes, 08:30 a 14:30 h. Entrada libre y gratuita.</p>
          <p><span class="fa fa-envelope"></span><span><a class="mailto" href="mailto:museomolet@epec.com.ar">museomolet@epec.com.ar</a></span></p>
        </div>
      </div>
    </div>
    <div class="row d-sm-none">
      <div class="col-6 nopadding">
          <button class="btn btn-epec-verde-claro btn-rounded btn-small" type="button" data-toggle="collapse"
          data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
          (click)="goToFormularioVisitasGuiadas()"
          *ngIf="!solicitudFormEnviada">
          ¡QUIERO VISITAR EL MUSEO!
        </button>
      </div>
      <div class="col-6 nopadding">
        <a class="epec-color-verde-claro ver-libro-de-visitas" (click)="goLibroDeVisitas()">Ver libro de visitas</a>
      </div>
    </div>
    <div class="row row-distancias">
      <div class="col-12 col-lg-6">
        <div class="mapa">
          <div #gmap class="gmap1 show" id="gmap1">
            <a *ngIf="!sowingMaps" class="btn btn-epec-color-verde epec-bg-color-verde" (click)="cargarMapas()">VER
              MAPA</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="distancias distancias-descktop">
          <h4 class="epec-color-verde-claro">DISTANCIAS</h4>
          <p><span class="fa fa-map-marker"></span>Desde aeropuerto (45 min.) por Av. Ricardo Rojas y RP E55<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/noCz4XCNFnA2">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde Carlos Paz (25 min.)<br>
            Sigue por Gral. Paz hacia Av. Libertad/RP14.<br>
            Toma Av. San Martín/RN38, Av. España/RN20 y RP73 hacia RP E55.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/BJ8M2vtr2Kp">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde terminal de ómnibus (49 min.)<br>
            Accede a RN20 desde Av. Poeta Lugones y Av. Fuerza Aerea Argentina.<br>
            Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/ZMDBNg8w1HB2">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde el centro de córdoba (49 min.)<br>
            Accede a RN20 desde Julio A. Roca y Av. Fuerza Aerea Argentina.<br>
            Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/XMJyzTJcfSC2">Ver en Google Maps</a></p>
        </div>



        <div class="distancias distancias-mobile">
            <h4 class="epec-color-verde-claro" data-toggle="collapse" href="#collapseDistancias" role="button" aria-expanded="false" aria-controls="collapseDistancias">DISTANCIAS <span class="fa fa-angle-up rotate-icon"></span></h4>
            <div class="collapse show" id="collapseDistancias">            
            <p><span class="fa fa-map-marker"></span>Desde aeropuerto (45 min.) por Av. Ricardo Rojas y RP E55<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/noCz4XCNFnA2">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde Carlos Paz (25 min.)<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/BJ8M2vtr2Kp">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde terminal de ómnibus (49 min.)<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/ZMDBNg8w1HB2">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde el centro de córdoba (49 min.)<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/XMJyzTJcfSC2">Ver en Google Maps</a></p>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="visitas-guiadas">
          <h4 class="epec-color-verde-claro">VISITAS GUIADAS</h4>
          <p><span class="fa fa-usd"></span>Entrada gratuita.</p>
          <p><span class="fa fa-clock-o"></span>Horario de Lunes a Domingos, 8:30 a 14:30 h. Sábado y Domingo público en
            general. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="formulario-visitas-guiadas" id="formulario-visitas-guiadas" *ngIf="!solicitudFormEnviada">
          <p><br></p>
          <p>
            <button class="btn btn-epec-verde-claro btn-rounded" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              ¡QUIERO VISITAR EL MUSEO!
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form (ngSubmit)="onSubmitSolicitud(solicitudForm)" #solicitudForm="ngForm" class="user-forms">
                <p class="text-required">* Todos los datos son obligatorios.</p>
                <div class="row">
                  <div class="col-12 col-lg-6">

                    <h6><span class="fa fa-graduation-cap p-r-05"></span>DATOS DE LA ESCUELA O INSTITUCIÓN </h6>
                    
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicNomInstitucion" name="solicNomInstitucion"
                        placeholder="Nombre de la Escuela" 
                        #solicNomInstitucion="ngModel" [(ngModel)]="solicitudForm.solicNomInstitucion" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicLocInstitucion" name="solicLocInstitucion"
                        placeholder="Localidad de la Escuela" 
                        #solicLocInstitucion="ngModel" [(ngModel)]="solicitudForm.solicLocInstitucion" required >
                    </div>
                    <div class="form-group row">
                      <label for="solicFechaVisita" class="col-sm-4 col-form-label">Fecha de visita:</label>
                      <div class="col-sm-8">
                        <input type="date" class="form-control" id="solicFechaVisita" name="solicFechaVisita" 
                        #solicFechaVisita="ngModel" [(ngModel)]="solicFechaVisita.fechaVisita" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="solicHoraVisita" class="col-sm-4 col-form-label">Hora estimada:</label>
                      <div class="col-sm-8">
                        <input type="time" class="form-control" id="solicHoraVisita" name="solicHoraVisita" 
                        #solicHoraVisita="ngModel" [(ngModel)]="solicitudForm.solicHoraVisita" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" id="solicCantParticipantes" name="solicCantParticipantes"
                        placeholder="Cantidad de alumnos" 
                        #solicCantParticipantes="ngModel" [(ngModel)]="solicitudForm.solicCantParticipantes" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicGrado" name="solicGrado" placeholder="Grado / Año" 
                      #solicGrado="ngModel" [(ngModel)]="solicitudForm.solicGrado" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicOrientacion" name="solicOrientacion"
                        placeholder="Orientación" 
                        #solicOrientacion="ngModel" [(ngModel)]="solicitudForm.solicOrientacion" required>
                    </div>


                  </div>

                  <div class="col-12 col-lg-6">

                    <h6><span class="fa fa-user p-r-05"></span>DATOS DEL RESPONSABLE DEL GRUPO</h6>

                    <div class="form-group">
                      <input type="text" class="form-control" id="solicNombreResp" name="solicNombreResp"
                        placeholder="Nombres del Responsable" 
                        #solicNombreResp="ngModel" [(ngModel)]="solicitudForm.solicNombreResp" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicApellidoResp" name="solicApellidoResp"
                        placeholder="Apellido del Responsable" 
                        #solicApellidoResp="ngModel" [(ngModel)]="solicitudForm.solicApellidoResp" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="solicMailResp" name="solicMailResp"
                        placeholder="Email" 
                        #solicMailResp="ngModel" [(ngModel)]="solicitudForm.solicMailResp" required email>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicTelfijoResp" name="solicTelfijoResp"
                        placeholder="Teléfono Fijo" 
                        #solicTelfijoResp="ngModel" [(ngModel)]="solicitudForm.solicTelfijoResp" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="solicCelResp" name="solicCelResp"
                        placeholder="Teléfono Celular" 
                        #solicCelResp="ngModel" [(ngModel)]="solicitudForm.solicCelResp" required>
                    </div>

                    <div class="form-group observaciones">
                      <h6><span class="fa fa-pencil p-r-05"></span>OBSERVACIONES / NOTA / INDICACIÓN</h6>
                      <textarea class="form-control" id="solicObservaciones" name="solicObservaciones" rows="3" 
                      #solicObservaciones="ngModel" [(ngModel)]="solicitudForm.solicObservaciones" required></textarea>
                    </div>

                    <div class="form-group div-boton-enviar">
                      <button class="btn btn-epec-verde-claro btn-rounded btn-enviar" type="submit" [disabled]="!solicitudForm.form.valid">
                        ENVIAR
                      </button>
                    </div>                                       

                  </div>

                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p><br></p>
  <div class="container libro-de-visitas" id="libro-de-visitas">
    <div class="row">
      <div class="col-12">
        <h2>LIBRO DE VISITAS</h2>
        <p>Si conociste el museo o participaste en nuestras visitas guiadas, recibimos tu opinión.</p>
      </div>




      <div class="col-12">
        <div class="card card-body">
          
            <form (ngSubmit)="onSubmitComentario(commentForm)" #commentForm="ngForm" class="user-forms">
                

            <div class="form-group">
              <label for="exampleFormControlInput1"><span
                  class="fa fa-user p-r-05 epec-color-verde-claro"></span>Escriba su nombre y apellido, colegio o
                institución</label>

                <input type="text" #comentNombre="ngModel" [(ngModel)]="commentForm.comentNombre" name="comentNombre" id="comentNombre"
                class="form-control" required>

            </div>



            <div class="form-group">
              <label for="exampleFormControlTextarea1">Escriba aquí su comentario</label>
              <textarea class="form-control" id="comentDescripcion" rows="3"  #comentDescripcion="ngModel" [(ngModel)]="commentForm.comentDescripcion" name="comentDescripcion" id="comentDescripcion"></textarea>
            </div>




            <div class="add-comment-bottom">
              <div class="comment-form-left">
                <div class="star-row" *ngFor="let ponderable of ponderables; indexPonderable as iP">
                  <div class="text">
                    {{ponderable.descripcion}}:
                  </div>
                  <div class="stars">
                      <span *ngFor="let estrella of estrellas;index as i" class="addStar fa fa-star" [ngClass]="  (estrellasSeleccionadas[ponderable.id] > i) ? 'star-full' : 'star-empty' " (click)="setEstrellas(ponderable.id,i+1)"></span>
                  </div>
                </div>

              </div>
              <div class="comment-form-right">
                <button class="btn btn-epec-verde-claro btn-rounded btn-enviar" type="submit" [disabled]="!commentForm.form.valid">
                  ENVIAR
                </button>
              </div>

            </div>            

          </form>
        </div>
      </div>


      <div class="col-12" *ngFor="let comentario of comentarios;index as i">
          <div class="card card-body">
              <div class="row">
                <div class="col-12 col-sm-8">
                    <h6 class="epec-color-verde-claro"><span class="fa fa-user p-r-05"></span>{{comentario?.comentNombre}} <span
                      class="fecha">- {{comentario?.comentFechaAlta}}</span></h6>
                </div>

                <div class="col-12 col-sm-4">
                  <div class="actions" *ngIf="userLogued">
                    <!--<div class="action borrar"><a (click)="borrarComentario(comentario)">Borrar</a></div>-->
                    <div class="action mostrar"><a (click)="guardarComentario(comentario,'S')">Mostrar</a></div>
                    <div class="action ocultar"><a (click)="guardarComentario(comentario,'N')">Ocultar</a></div>                    
                  </div>
                </div>

              </div>
              
              <p [innerHTML]="comentario?.comentDescripcion"></p>

              <div class="star-row" *ngFor="let ponderable of comentario.ponderables">
                <div class="text">
                  {{ponderable.itemsPonderables}}
                </div>
                <div class="stars">
                  <span *ngFor="let estrella of estrellas;index as i" class="fa fa-star" [ngClass]="  (ponderable.cantPonderada > i) ? 'star-full' : 'star-empty' "></span>
                </div>
                
              </div>

            </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showSpinner" class="spinner"></div>
<div *ngIf="showSpinner" class="loader"></div>
<app-constancia [constanciaParams]=constanciaParams (constanciaClosed)="constanciaClosed($event)"></app-constancia>

<section class="modal-info {{recibidoParams.sectioclass}}">
  <div class="modal fade" id="modalrecibido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-md" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <p class="heading lead">{{recibidoParams.title}}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="text-center">
              <i *ngIf="recibidoParams.sectioclass==''" class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
              <i *ngIf="recibidoParams.sectioclass=='alert'"
                class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
            </div>

            <div class="text-center">

              <p [innerHTML]="recibidoParams.text"></p>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-azul-epec waves-effect" data-dismiss="modal"
            (click)="modalRecibidoCloseClicked()">{{recibidoParams.buttonText}}</button>
        </div>

      </div>
    </div>
  </div>
</section>
<a style="display: none" id="open-modal-recibido" data-toggle="modal" data-target="#modalrecibido">Popup</a>







<section class="modal-info">
    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-md" role="document">
            <div class="modal-content">
  
                <div class="modal-header">
                    <p class="heading lead">{{modalParams.title}}</p>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div  class="container">
                        <div class="text-center">
                            <p>{{modalParams.text}}</p>
                        </div>  
                    </div>
                </div>
  
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-azul-epec waves-effect" (click)="actionConfirmedClicked()" data-dismiss="modal">{{modalParams.buttonText}}</button>
                    <a class="btn btn-epec-empty waves-effect float-left" data-dismiss="modal">Cancelar</a>
                                     
                </div>
                
            </div>
        </div>
    </div>    
  </section>
  <a style="display: none" id="open-modal-confirm" data-toggle="modal" data-target="#modalConfirm">Popup</a>