<section class="contacto">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>CONTACTO</h2>
        <div class="contact-info">
          <p><span class="fa fa-map-marker"></span>Ruta prov. E55 km 22, Código Postal X5151XAI, a 1.700 m del Dique de
            San Roque, camino La Calera.</p>
          <p><span class="fa fa-phone"></span>Teléfono: 0351 4296036 (Administración EPEC - Córdoba Ciudad)</p>
          <p><span class="fa fa-clock-o"></span>Horario: lunes a viernes, 08:30 a 14:30 h.</p>
          <p><span class="fa fa-usd"></span>Entrada libre y gratuita.</p>
        </div>
      </div>
    </div>
    <div class="row d-sm-none">
      <div class="col-6 nopadding">
          <button class="btn btn-epec-verde-claro btn-rounded btn-small" type="button" data-toggle="collapse"
          data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
          (click)="goToFormularioVisitasGuiadas()">
          ¡QUIERO VISITAR EL MUSEO!
        </button>
      </div>
      <div class="col-6 nopadding">
        <a class="epec-color-verde-claro ver-libro-de-visitas" (click)="goLibroDeVisitas()">Ver libro de visitas</a>
      </div>
    </div>
    <div class="row row-distancias">
      <div class="col-12 col-lg-6">
        <div class="mapa">
          <div #gmap class="gmap1 show" id="gmap1">
            <a *ngIf="!sowingMaps" class="btn btn-epec-color-verde epec-bg-color-verde" (click)="cargarMapas()">VER
              MAPA</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="distancias distancias-descktop">
          <h4 class="epec-color-verde-claro">DISTANCIAS</h4>
          <p><span class="fa fa-map-marker"></span>Desde aeropuerto (45 min.) por Av. Ricardo Rojas y RP E55<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/noCz4XCNFnA2">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde Carlos Paz (25 min.)<br>
            Sigue por Gral. Paz hacia Av. Libertad/RP14.<br>
            Toma Av. San Martín/RN38, Av. España/RN20 y RP73 hacia RP E55.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/BJ8M2vtr2Kp">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde terminal de ómnibus (49 min.)<br>
            Accede a RN20 desde Av. Poeta Lugones y Av. Fuerza Aerea Argentina.<br>
            Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/ZMDBNg8w1HB2">Ver en Google Maps</a></p>
          <p><span class="fa fa-map-marker"></span>Desde el centro de córdoba (49 min.)<br>
            Accede a RN20 desde Julio A. Roca y Av. Fuerza Aerea Argentina.<br>
            Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
            <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/XMJyzTJcfSC2">Ver en Google Maps</a></p>
        </div>



        <div class="distancias distancias-mobile">
            <h4 class="epec-color-verde-claro" data-toggle="collapse" href="#collapseDistancias" role="button" aria-expanded="false" aria-controls="collapseDistancias">DISTANCIAS <span class="fa fa-angle-up rotate-icon"></span></h4>
            <div class="collapse show" id="collapseDistancias">            
            <p><span class="fa fa-map-marker"></span>Desde aeropuerto (45 min.) por Av. Ricardo Rojas y RP E55<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/noCz4XCNFnA2">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde Carlos Paz (25 min.)<br>
              Sigue por Gral. Paz hacia Av. Libertad/RP14.<br>
              Toma Av. San Martín/RN38, Av. España/RN20 y RP73 hacia RP E55.<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/BJ8M2vtr2Kp">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde terminal de ómnibus (49 min.)<br>
              Accede a RN20 desde Av. Poeta Lugones y Av. Fuerza Aerea Argentina.<br>
              Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/ZMDBNg8w1HB2">Ver en Google Maps</a></p>
            <p><span class="fa fa-map-marker"></span>Desde el centro de córdoba (49 min.)<br>
              Accede a RN20 desde Julio A. Roca y Av. Fuerza Aerea Argentina.<br>
              Sigue por RN20 y RP73 hacia RP E55 en Santa María.<br>
              <a target="_blank" class="epec-color-verde-claro" href="https://goo.gl/maps/XMJyzTJcfSC2">Ver en Google Maps</a></p>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="visitas-guiadas">
          <h4 class="epec-color-verde-claro">VISITAS GUIADAS</h4>
          <p><span class="fa fa-usd"></span>Entrada gratuita.</p>
          <p><span class="fa fa-clock-o"></span>Horario de Lunes a Domingos, 8:30 a 14:30 h. Sábado y Domingo público en
            general. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="formulario-visitas-guiadas" id="formulario-visitas-guiadas">
          <p><br></p>
          <p>
            <button class="btn btn-epec-verde-claro btn-rounded" type="button" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              ¡QUIERO VISITAR EL MUSEO!
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form>
                <p class="text-required">* Todos los datos son obligatorios.</p>
                <div class="row">
                  <div class="col-12 col-lg-6">

                    <h6><span class="fa fa-graduation-cap p-r-05"></span>DATOS DE LA ESCUELA O INSTITUCIÓN </h6>

                    <div class="form-group">
                      <input type="text" class="form-control" id="nombreEscuela" name="nombreEscuela"
                        placeholder="Nombre de la Escuela">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="localidadEscuela" name="localidadEscuela"
                        placeholder="Localidad de la Escuela">
                    </div>
                    <div class="form-group row">
                      <label for="fechaVisita" class="col-sm-4 col-form-label">Fecha de visita:</label>
                      <div class="col-sm-8">
                        <input type="date" class="form-control" id="fechaVisita">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="horaVisita" class="col-sm-4 col-form-label">Hora estimada:</label>
                      <div class="col-sm-8">
                        <input type="time" class="form-control" id="horaVisita">
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="cantidadAlumnos" name="cantidadAlumnos"
                        placeholder="Cantidad de alumnos">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="gradoAnio" name="gradoAnio" placeholder="Grado / Año">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="orientacion" name="orientacion"
                        placeholder="Orientación">
                    </div>


                  </div>

                  <div class="col-12 col-lg-6">

                    <h6><span class="fa fa-user p-r-05"></span>DATOS DEL RESPONSABLE DEL GRUPO</h6>

                    <div class="form-group">
                      <input type="text" class="form-control" id="responsableNombre" name="responsableNombre"
                        placeholder="Nombres del Responsable">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="responsableApellido" name="responsableApellido"
                        placeholder="Apellido del Responsable">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="responsableEmail" name="responsableEmail"
                        placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="responsableFijo" name="responsableFijo"
                        placeholder="Teléfono Fijo">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="responsableCelular" name="responsableCelular"
                        placeholder="Teléfono Celular">
                    </div>

                    <div class="form-group observaciones">
                      <h6><span class="fa fa-pencil p-r-05"></span>OBSERVACIONES / NOTA / INDICACIÓN</h6>
                      <textarea class="form-control" id="observaciones" rows="3"></textarea>
                    </div>

                    <div class="form-group div-boton-enviar">
                      <button class="btn btn-epec-verde-claro btn-rounded btn-enviar" type="button">
                        ENVIAR
                      </button>
                    </div>


                  </div>

                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p><br></p>
  <div class="container libro-de-visitas" id="libro-de-visitas">
    <div class="row">
      <div class="col-12">
        <h2>LIBRO DE VISITAS</h2>
        <p>Libro de Visitas Virtuales del sitio del Museo Usina Molet. Espacio destinado a recibir una corriente de
          realimentación formada por opiniones, aportes y críticas de parte de los visitantes del Museo real y virtual.
          Un homenaje a los pioneros que mejoraron la calidad de vida de los cordobeses.</p>
      </div>




      <div class="col-12">
        <div class="card card-body">
          <form>



            <div class="form-group">
              <label for="exampleFormControlInput1"><span
                  class="fa fa-user p-r-05 epec-color-verde-claro"></span>Escriba su nombre y apellido, colegio o
                institución</label>

              <input type="text" class="form-control" id="visita" aria-describedby="visita">
            </div>



            <div class="form-group">
              <label for="exampleFormControlTextarea1">Escriba aquí su comentario</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="add-comment-bottom">
              <div class="comment-form-left">
                <div class="star-row">
                  <div class="text">
                    Atención de los guías:
                  </div>
                  <div class="stars">
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                  </div>
                </div>
                <div class="star-row">
                  <div class="text">
                    Facilidad para llegar:
                  </div>
                  <div class="stars">
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                  </div>
                </div>
                <div class="star-row">
                  <div class="text">
                    Entorno del lugar:
                  </div>
                  <div class="stars">
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                  </div>
                </div>
                <div class="star-row">
                  <div class="text">
                    El museo en general
                  </div>
                  <div class="stars">
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                    <span class="fa fa-star star-empty"></span>
                  </div>
                </div>




              </div>
              <div class="comment-form-right">
                <button class="btn btn-epec-verde-claro btn-rounded btn-enviar" type="button">
                  ENVIAR
                </button>
              </div>

            </div>

          </form>
        </div>
      </div>




      <div class="col-12">
        <div class="card card-body">
          <h6 class="epec-color-verde-claro"><span class="fa fa-user p-r-05"></span>JACINTO LÓPEZ MURIEGA <span
              class="fecha">- 05/02/2019</span></h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat. Lorem
            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat.</p>
          <div class="star-row">
            <div class="text">
              Atención de los guías:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Facilidad para llegar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Entorno del lugar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              El museo en general
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card card-body">
          <h6 class="epec-color-verde-claro"><span class="fa fa-user p-r-05"></span>JACINTO LÓPEZ MURIEGA <span
              class="fecha">- 05/02/2019</span></h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat. Lorem
            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat.</p>
          <div class="star-row">
            <div class="text">
              Atención de los guías:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Facilidad para llegar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Entorno del lugar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              El museo en general
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12">
        <div class="card card-body">
          <h6 class="epec-color-verde-claro"><span class="fa fa-user p-r-05"></span>JACINTO LÓPEZ MURIEGA <span
              class="fecha">- 05/02/2019</span></h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat. Lorem
            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat.</p>
          <div class="star-row">
            <div class="text">
              Atención de los guías:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Facilidad para llegar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              Entorno del lugar:
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
          <div class="star-row">
            <div class="text">
              El museo en general
            </div>
            <div class="stars">
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-full"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
              <span class="fa fa-star star-empty"></span>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
</section>



<section class="modal-info {{recibidoParams.sectioclass}}">
  <div class="modal fade" id="modalrecibido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-md" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <p class="heading lead">{{recibidoParams.title}}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="text-center">
              <i *ngIf="recibidoParams.sectioclass==''" class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
              <i *ngIf="recibidoParams.sectioclass=='alert'"
                class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn"></i>
            </div>

            <div class="text-center">

              <p [innerHTML]="recibidoParams.text"></p>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-azul-epec waves-effect" data-dismiss="modal"
            (click)="modalRecibidoCloseClicked()">{{recibidoParams.buttonText}}</button>
        </div>

      </div>
    </div>
  </div>
</section>
<a style="display: none" id="open-modal-recibido" data-toggle="modal" data-target="#modalrecibido">Popup</a>