<app-slide-home></app-slide-home>


<section class="home">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="coltexto">
                    <p>
                        Desde el MUM es posible realizar visitas a otras usinas (algunas en
                        actividad), caminatas por la Reserva Municipal Bamba,
                        reconocimiento de flora y fauna, ocasionales visitas al proyectado
                        Parque Nacional en el actual predio del Tercer Cuerpo de Ejército,
                        conocer lugares que trasladan al visitante al comienzo de la actividad
                        eléctrica en la provincia de Córdoba.</p>
                    <p>
                        Quienes nos visitan pueden tomar conciencia de la importancia de la
                        electricidad en nuestras vidas, aprender a utilizarla racionalmente y
                        minimizar los impactos ambientales derivados de su consumo.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/media/images/Escalera_que_desciende_a_Sala_de_Piedra.jpg" alt="Sample image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="/media/images/molet_embalse_011.jpg" alt="Sample image">
            </div>
            <div class="col-lg-6">
                <div class="coltexto">
                    <p>
                        Desde el MUM es posible realizar visitas a otras usinas (algunas en
                        actividad), caminatas por la Reserva Municipal Bamba,
                        reconocimiento de flora y fauna, ocasionales visitas al proyectado
                        Parque Nacional en el actual predio del Tercer Cuerpo de Ejército,
                        conocer lugares que trasladan al visitante al comienzo de la actividad
                        eléctrica en la provincia de Córdoba.</p>
                    <p>
                        Quienes nos visitan pueden tomar conciencia de la importancia de la
                        electricidad en nuestras vidas, aprender a utilizarla racionalmente y
                        minimizar los impactos ambientales derivados de su consumo.
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>