.home {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media(min-width: 768px){
    .home {
        padding: 1rem;
    }
    .home .container .row {
        padding: 2rem;
    }
}
.coltexto {
    padding: 1rem;
}