<app-slide-home></app-slide-home>


<section class="home">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="coltexto">
                    <p>
                        Desde el MUM es posible realizar visitas a otras usinas (algunas en
                        actividad), caminatas por la Reserva Municipal Bamba,
                        reconocimiento de flora y fauna, ocasionales visitas al proyectado
                        Parque Nacional en el actual predio del Tercer Cuerpo de Ejército,
                        conocer lugares que trasladan al visitante al comienzo de la actividad
                        eléctrica en la provincia de Córdoba.</p>
                    <p>
                        Quienes nos visitan pueden tomar conciencia de la importancia de la
                        electricidad en nuestras vidas, aprender a utilizarla racionalmente y
                        minimizar los impactos ambientales derivados de su consumo.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/media/images/Escalera_que_desciende_a_Sala_de_Piedra.jpg" alt="Sample image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="/media/images/molet_embalse_011.jpg" alt="Sample image">
            </div>
            <div class="col-lg-6">
                <div class="coltexto">
                    <p>
                        Enclavado en un paisaje de singular belleza de las sierras
                        cordobesas, el Museo Usina Molet es un espacio cultural y
                        de recreación que habla sobre la historia de la electricidad y
                        sobre los fenómenos eléctricos, su medición y
                        trasformación.
                    </p>
                    <p>
                        Nuestros guías proponen un recorrido didáctico que permite
                        estudiar el pasado, reconocer el presente e imaginar el futuro
                        de la electricidad en su permanente aporte al bienestar de
                        los seres humanos.
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>