<section class="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="linea-horizontal">
              <!--<img class="img-fluid" src="assets/template/images/footer/linea-3colores-horizontal-1680-10.jpg" alt="linea horizontal">-->                   
          </div>
      </div>
  </div>        

  <div class="container-fluid footer-content">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-8 col-footer-noppading d-none d-md-block">
              <div class="menu-horizontal-expand-lg">
                  <div class="menu-horizontal menu-horizontal-collapse">
                      <ul class="menu-horizontal-nav">
                          <li class="menu-horizontal-item institucional">
                              <a class="menu-horizontal-link">INSTITUCIONAL</a>
                              <ul class="nav flex-column">
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/quienes-somos">Quiénes Somos</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/generacion-transporte-y-distribucion">Generación transporte y distribución</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/principales-obras">Principales obras</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/epec-educa">Epec Educa</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" routerLink="/institucional/material-tecnico/1">Material técnico</a>
                                </li>
                              </ul>
                          </li>
                          <li class="menu-horizontal-item">
                              <a class="menu-horizontal-link">EFICIENCIA Y SEGURIDAD</a>
                              <ul class="nav flex-column">
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/eficiencia-y-seguridad/eficiencia-energetica">Eficiencia Energética</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="eficiencia-y-seguridad/cuidado-con-la-electricidad">Aspectos de Seguridad</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/eficiencia-y-seguridad/gestion-ambiental">Gestión Ambiental</a>
                                  </li>
                              </ul>
                          </li>                          
                          <li class="menu-horizontal-item">
                              <a class="menu-horizontal-link" target="blank" href="https://web.epec.com.ar/molet/">MUSEO USINA MOLET</a>
                          </li>
                          <!--<li class="menu-horizontal-item">
                              <a class="menu-horizontal-link" target="blank" href="https://web.epec.com.ar/usores/">USORES</a>
                          </li>-->
                          <li class="menu-horizontal-item">
                              <a class="menu-horizontal-link" target="blank" href="https://web.epec.com.ar/Login_ER30.html">USUARIOS AUTORIZADOS</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          
          <div class="col-12 col-sm-12 d-md-none col-footer-noppading">
              <div class="footermenumobile">
                  <div class="footermenumobile-inner" id="accordion">
                      <ul class="menu-horizontal-nav">
                          <li class="menu-horizontal-item par with-childs">
                              <a class="menu-horizontal-link collapsed" data-toggle="collapse" href="#collapseMenuInstitucional" role="button" aria-expanded="true" aria-controls="collapseMenuInstitucional">INSTITUCIONAL</a>
                          </li>
                      </ul>
                      <div class="collapse" id="collapseMenuInstitucional" data-parent="#accordion">

                      
                              <ul class="sub-menu-horizontal-nav ">
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/quienes-somos">Quiénes Somos</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/generacion-transporte-y-distribucion">Generación transporte y distribución</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/principales-obras">Principales obras</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/epec-educa">Epec Educa</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/institucional/material-tecnico/1">Material técnico</a>
                                  </li>
                              </ul>

                      </div>
                          
                      <ul class="menu-horizontal-nav">        
                          <li class="menu-horizontal-item impar with-childs">
                              <a class="menu-horizontal-link collapsed" data-toggle="collapse" href="#collapseMenuEficiencia" role="button" aria-expanded="true" aria-controls="collapseMenuEficiencia">EFICIENCIA Y SEGURIDAD</a>
                          </li>
                      </ul>

                      <div class="collapse" id="collapseMenuEficiencia" data-parent="#accordion">

                      
                              <ul class="sub-menu-horizontal-nav">
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/eficiencia-y-seguridad/eficiencia-energetica">Eficiencia Energética</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="eficiencia-y-seguridad/cuidado-con-la-electricidad">Aspectos de Seguridad</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/eficiencia-y-seguridad/gestion-ambiental">Gestión Ambiental</a>
                                  </li>
                              </ul>
                      </div>
                      
                      <ul class="menu-horizontal-nav">
                          <li class="menu-horizontal-item par">
                              <a class="menu-horizontal-link" target="_blank" href="https://web.epec.com.ar/molet/">MUSEO USINA MOLET</a>
                          </li>
                          <!--<li class="menu-horizontal-item par">
                              <a class="menu-horizontal-link" target="_blank" href="https://web.epec.com.ar/usores/">USORES</a>
                          </li>-->
                          <li class="menu-horizontal-item impar">
                              <a class="menu-horizontal-link" target="_blank" href="https://web.epec.com.ar/Login_ER30.html">USUARIOS AUTORIZADOS</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-4 ml-auto">
              <div class="ubicacion">
                  <p><strong>EPEC - Edificio Central:</strong></p>
                  <p>La Tablada 350 - X5000FEJ - Córdoba - Argentina</p>
                  <p>Línea gratuita / Centro de atención telefónica<br>0800 777 0000</p>
              </div>
              <div class="redes">
                  <a href="https://es-la.facebook.com/EpecCba/" target="_blank"><img src="assets/template/images/footer/redes/i-facebook.png" alt="facebook"></a>
                  <a href="https://twitter.com/epecoficial?lang=es" target="_blank"><img src="assets/template/images/footer/redes/i-twitter.png" alt="twitter"></a>
                  <a href="https://www.youtube.com/user/prensaepec" target="_blank"><img src="assets/template/images/footer/redes/i-youtube.png" alt="youtube"></a>
                  <a routerLink="/comunidad-epec"><img src="assets/template/images/footer/redes/i-comunidad-epec.png" alt="comment"></a>
                  <a routerLink="/epec-movil"><img src="assets/template/images/footer/redes/i-app.png" alt="download"></a>
              </div>
          </div>
          
      </div>
      <div class="row logo-footer">
          <div class="col-xs-12 logo-footer-inner">
              <img class="img-responsive" src="assets/template/images/footer/logo-footer.png" alt="logopie">
              <p class="copyright">Copyright 2018 - EPEC. Todos los derechos reservados</p>
          </div>
      </div>
  </div>  

 <div class="container-fluid">
      <div class="row">
          <div class="col">
          </div>
      </div>
  </div>

</section>

<go-top-button   [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [classNames]="'angleup'"
                 [styles]="{
                    'background': 'none',
                    'border': 'none', 
                    'padding': '.3rem 1rem .5rem 1rem',
                    'cursor': 'pointer'
                }">
        <span class='fa fa-angle-up'></span>
  </go-top-button>
