.epec-color-verde { color: #006D59!important;}
.epec-color-azul { color: #035F75!important;}
.epec-color-lila { color: #622180!important;}
.epec-color-amarillo { color: #FABA00!important;}
.epec-color-black {color: #000000!important;}
.epec-bg-color-verde{ background-color: #006D59;}
.epec-bg-color-azul{ background-color: #035F75;}
.epec-bg-color-lila{ background-color: #622180;}
.epec-bg-color-amarillo{ background-color: #FABA00;}

.epec-color-verde-claro {
    color: #57AD4A;
}
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Rokkitt', 'arial';
    font-size: 18px;
    font-weight: 400;
}
.fabio {
    color: red;
}


.spinner {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .3;
    z-index: 9;
}
.loader {
    position: fixed;
    top: 50%;
    left: 48%;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #006D59;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 9999;
  }
    /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
